html, body {
  margin:0;
  width:100%;
  box-sizing: border-box;
  
   background-image: url("../img/nyccab.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-color:	#F0F8FF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

@media only screen and (min-device-width : 300px) and (max-device-width: 959px) {
       /* styles for mobile browsers smaller than 480px; (iPhone) */
main {    
  display:flex;
  flex-direction:column;
  justify-content:center;
}

header {
        background-color: rgb(127, 177, 204);
      background-color: rgba(127, 177, 204,0.2);
}

#title, #description {
    text-align:center;
    padding:10px;
    color:#fff;
    text-shadow: 1px 2px #000;
}

#survey-form {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    margin:5px;
    padding: 20px;
    border-radius:20px;
    background-color: rgb(119,136,153);
      background-color: rgba(119,136,153,0.7);
      color:#fff;
      border: 1px dotted #fff;
    font-family: 'Crimson Text', serif;
    font-size:20px;

}

#title {
    font-family: 'Libre Baskerville', serif;
}

#description {
    font-size:22px;
    font-family: 'Crimson Text', serif;
      border-radius:20px;
}

.qa {
    display:flex;
    flex-direction:row;
    margin:5px;
}

label {
    margin:5px;
    padding:5px;
    width:35%;
}
    
.checkbox {
    display:block;
}

input, select {
    padding:3px;
}

select {
    margin: 5px 15px;
    
}

#claim {
    padding:5px;
    margin:5px;
}

.button {
    margin-left:40%;
}

#submit {
    font-family: 'Crimson Text', serif;
    font-size:15px;
}

input::placeholder, #claim::placeholder {
    font-family: 'Crimson Text', serif;
    font-size:15px;
}

ul {
    padding:5px;
    box-sizing: border-box;
}

li {
      box-sizing: border-box;
}

}


   
@media only screen and (min-width: 960px) {
        /* styles for browsers larger than 960px; */
main {    
  display:flex;
  flex-direction:row-reverse;
  justify-content:space-between;
  
}

header {
    margin-top:40%;
    margin-right:15px;
    width:35%;
}

#title, #description {
    text-align:right;
    padding:10px;
    color:#fff;
    text-shadow: 1px 2px #000;
}

#title {
    font-family: 'Libre Baskerville', serif;
    font-size:36px;

}

#description {
    margin-top:10px;
    padding:10px;
    font-size:22px;
    font-family: 'Crimson Text', serif;
    background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.3);
      border-radius:20px;
 
}

#survey-form {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin:5px 20px;
    padding: 10px;
    border-radius:20px;
    background-color: rgb(119,136,153);
      background-color: rgba(119,136,153,0.7);
      color:#fff;
      border: 1px dotted #fff;
    font-family: 'Crimson Text', serif;
    font-size:20px;
    width:34%;

}


.qa {
    display:flex;
    flex-direction:row;
    margin:5px;
    padding-left:20px;
    text-align:left;
}

label {
    margin:5px;
    padding:5px;
    width:30%;
}

.checkbox {
    display:block;
}

input, select {
    padding:3px;
}

select {
    margin: 5px 10px;
    
}

#claim {
    padding:5px;
      width:70%;
    margin:5px 10px 10px 5px;
}

.button {
    margin-left:30%;
}

#submit {
    font-family: 'Crimson Text', serif;
    font-size:15px;
}

input::placeholder, #claim::placeholder {
    font-family: 'Crimson Text', serif;
    font-size:15px;
}

ul {
    padding:5px;
    box-sizing: border-box;
}

li {
      box-sizing: border-box;
}

    }
